[Unit]
Description= Service to ensure pre condition for rdm apps download
After=nvram.service
ConditionPathExists=/etc/rdm/rdm-manifest.json

[Service]
ExecStart=/bin/sh -c '/usr/bin/apps_prerdm.sh'

[Install]
WantedBy=multi-user.target
